<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section>
    <a href="/logout">Logout</a>
    <h1>Under 5min Todo List</h1>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <div class="row">
      <div class="left">
        <h2>Todos:</h2>
        <p><%= user.userName %> has <%= left %> things left to do</p>
      </div>

      <div class="right">
        <ul class="no-bullets">
        <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><input type="checkbox"> <%= el.todo %> </span>
                    <span class='del'> <img src="css/delete.png" class="delete-btn"> </span>
                </li>
        <% }) %>
        </ul>
      </div>
    </div>


  </section>


    <script src="js/main.js"></script>
</body>
</html>
